version: 2
updates:
  # Fetch and update latest `npm` packages
  - package-ecosystem: npm
    directory: '/'
    schedule:
      interval: daily
      time: '00:00'
    open-pull-requests-limit: 3
    labels:
      - dependencies
      - npm
      - Ready to merge
    reviewers:
      - theotime2005
    commit-message:
      prefix: "[BUMP]"
      include: scope

  # Fetch and update latest `github-actions` pkgs
  - package-ecosystem: github-actions
    directory: '/'
    schedule:
      interval: daily
      time: '00:00'
    open-pull-requests-limit: 2
    labels:
      - No deployment
      - workflow
      - Ready to merge
    reviewers:
      - theotime2005
    commit-message:
      prefix: "[BUMP]"
      include: scope
