@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

html {
  height: 100dvh;
  width: 100dvw;
  background-color: rgb(2 6 23);
  display: flex;
  flex-direction: column;
}

body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  overflow: hidden;
}

#app {
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
}

select {
  color: black;
  width: fit-content;
  background-color: rgb(195, 195, 195);
}
