@import "tailwindcss";

/* Réinitialisation des styles de base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styles pour l'élément html */
html {
    min-height: 100vh;
    width: 100%;
    background-color: rgb(2, 6, 23);
    display: flex;
    flex-direction: column;
}

/* Styles pour le corps de la page */
body {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
}

/* Styles pour l'élément racine de l'application */
#app {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
}

/* Styles pour les éléments select */
select {
    color: black;
    background-color: rgb(195, 195, 195);
    width: auto;
}

.main-content {
    color: white;
}
