name: Auto-merge

on:
  pull_request:
    types:
      - opened
      - reopened
      - labeled
      - unlabeled
      - synchronize
      - ready_for_review
    branches:
      - main
  check_suite:
    types:
      - completed
    status:
      - success

permissions:
  pull-requests: write
  contents: read

jobs:
  auto_merge_standard:
    runs-on: ubuntu-latest
    if: contains(join(github.event.pull_request.labels.*.name, ','), 'Ready to merge') && github.event.pull_request.draft == false && github.actor != 'dependabot[bot]'

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          token: ${{ github.actor == 'dependabot[bot]' && secrets.DEPENDABOT_TOKEN || secrets.GH_TOKEN }}

      - name: Rebase branch before merge
        run: |
          git config user.name "auto merge service"
          git config user.email "auto-merge-service@users.noreply.github.com"
          git fetch origin
          git checkout ${{ github.event.pull_request.base.ref }}
          git pull
          git checkout ${{ github.event.pull_request.head.ref }}
          git pull
          git rebase ${{ github.event.pull_request.base.ref }}
          git push origin ${{ github.event.pull_request.head.ref }} --force-with-lease

      - name: Enable auto-merge or merge pull request
        run: gh pr merge ${{ github.event.pull_request.number }} --auto -m -d
        env:
          GH_TOKEN: ${{ github.actor == 'dependabot[bot]' && secrets.DEPENDABOT_TOKEN || secrets.GH_TOKEN }}

  merge_dependabot:
    runs-on: ubuntu-latest
    if: contains(github.event.pull_request.labels.*.name, 'Ready to merge') && github.event.pull_request.draft == false && github.actor == 'dependabot[bot]'

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Ask rebase to dependabot
        run: gh pr comment ${{ github.event.pull_request.number }} --body "@dependabot rebase"
        env:
            token: ${{ secrets.DEPENDABOT_TOKEN }}

      - name: Ask merge to dependabot
        run: gh pr comment ${{ github.event.pull_request.number }} --body "@dependabot merge"
        env:
          token: ${{ secrets.DEPENDABOT_TOKEN }}
