name: ci

on:
  pull_request:
    types:
      - synchronize
      - opened
  push:
    branches:
      - main

jobs:
  lint:
    runs-on: ubuntu-latest
    if: "!contains(github.event.pull_request.labels.*.name, 'No deployment') && github.event.pull_request.draft == false"

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc

      - name: Install dependencies
        run: npm install

      - name: Run ESLint
        run: npm run lint

      - name: 'notify vercel'
        uses: 'vercel/repository-dispatch/actions/status@v1'
        with:
          name:
            Vercel - bnote: lint

  test:
    runs-on: ubuntu-latest

    if: "github.event_name == 'push' || !contains(github.event.pull_request.labels.*.name, 'No deployment') && github.event.pull_request.draft == false"
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc

      - name: Install dependencies
        run: npm install

      - name: Run all tests
        run: npm test

      - name: 'notify vercel'
        uses: 'vercel/repository-dispatch/actions/status@v1'
        with:
          name:
            Vercel - bnote: test

  build-test:
    runs-on: ubuntu-latest
    if: "!contains(github.event.pull_request.labels.*.name, 'No deployment') && github.event.pull_request.draft == false"

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc

      - name: Install dependencies
        run: npm install

      - name: Build the project
        run: npm run build
