name: merge into production

on:
  release:
    types:
      - released

permissions:
  contents: write

jobs:
  merge-main-into-production:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          token: ${{ secrets.GH_TOKEN }}
          fetch-depth: 0  # Nécessaire pour récupérer tous les tags

      - name: Set up Git
        run: |
          git config --global user.email "bnote-auto-merge@github.com"
          git config --global user.name "bnote-auto-merge"

      - name: Merge main into production
        run: |
          git checkout production
          git merge origin/main --no-edit

      - name: Push changes
        run: |
          git push origin production
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
