name: PR Title Check

on:
  pull_request:
    types: [opened] # Correction ici
    branches:
      - main

jobs:
  check-title:
    runs-on: ubuntu-latest

    steps:
      - name: Check out the repository
        uses: actions/checkout@v4

      - name: Validate PR title
        run: |
          if [[ ! "$(echo '${{ github.event.pull_request.title }}' | grep -E '^\(fix|feat|tech|docs|bump|style|refactor|chore|perf|test|bump|revert)\:')" ]]; then
            echo "Error: Pull request title must start with [BUGFIX], [TECH], [DOC], [BUMP] or [FEATURE]."
            exit 1
          fi
