# This workflow generates a new version and pushes it to the main branch
# It runs manually

name: Release

on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build-and-upload-new-version:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          token: ${{ secrets.GH_TOKEN }}
          fetch-depth: 0

      - name: Setup node js
        uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc

      - name: Install dependencies
        run: npm install

      - name: Check tests and eslint
        run: |
          npm test
          npm run lint

      - name: Release with semantic-release
        uses: cycjimmy/semantic-release-action@v6
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
          GIT_AUTHOR_NAME: bnote-settings-deployer
          GIT_AUTHOR_EMAIL: bnote-settings-deployer@github.com
          GIT_COMMITTER_NAME: bnote-settings-deployer
          GIT_COMMITTER_EMAIL: bnote-settings-deployer@github.com
        with:
          extra_plugins: |
            @semantic-release/changelog
            @semantic-release/git
            conventional-changelog-conventionalcommits
